@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300);
* {
  box-sizing: border-box;
}

body {
  background-color: #2C2D3D;
  font-family: Merriweather Sans;
  font-weight: 400;
}

.card {
  width: 600px;
  margin: 40px auto;
  background-color: #F7F7E9;
  color: #444;
  overflow: hidden;
  box-shadow: 5px 5px 0 0 #aaa;
}
.card h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 400;
  background-color: #444;
  color: #ddd;
}
.card img {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px;
  position: relative;
  z-index: 1;
}
.card .bio {
  position: relative;
  margin: 20px;
  font-family: Merriweather Sans;
  line-height: 1.5;
}
.comment {
  font-family: Merriweather Sans;
  font-size: 12px;
  color: #ddd;
  text-align: center;
}

a {
  color: #ddd;
  text-transform: none;
}
li {
  margin-bottom: 10px;
}
